* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 1.5em;
}

.mainContent {
    display: flex;
}

/***** COLOR SELECTORS *****/
.colorChoices {
    margin: 4em;
    margin-left: .5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.colorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#colorPicker {
    /* appearance: none; */
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
}
#colorPicker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

button {
    width: 10em;
    padding: .5em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.35s ease-out;
}
button:hover {
    background-color: #161616;
    color: rgb(234, 234, 234);
    transform: scale(1.1);
}

/***** BOARD & GRID *****/
.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.2em solid rgb(227, 61, 61);
    border-bottom: none;
    border-radius: 1.5em;
}
.boardBottom {
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgb(227, 61, 61);
    width: 100%;
}
.gridContainer {
    display: grid;
    width: 550px;
    height: 550px;
}
.square {
    background-color: #f5f5f5;
    border: none;
    margin: 0;
}

/***** GRID RANGE-SLIDER *****/
.slideContainer {
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    width: 18em;
}
.slider {
    appearance: none;
    background: #f5f5f5;
    border-radius: 20px;
    height: 10px;
    width: 100%;
    opacity: 0.7;
}
.slider:hover {
    opacity: 1; 
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #6b9edd;
    cursor: pointer;
}
.gridSize {
    color: white;
    font-size: 17px;
    text-align: center;
    padding: .5em;
    width: 5em;
}

.toolBox {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: .5em;
}